<% include partials/header %>

<h1>Campgrounds Page</h1>

<a href="/campgrounds/new">Add New Campground</a>

<% campgrounds.forEach(function(campgrounds){ %>
   <div>
       <%= campgrounds.name %>
       <img src="<%= campgrounds.image %>">
   </div>
<% }); %>

<% include partials/footer %>